.messages {
  display: flex;
}
.friends {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: start;
  color: aliceblue;
  margin: 0 auto;

}
.friends a {
  text-decoration: none;
  color: white;
}
.friends a:hover {
  color: cadetblue;
}
.friends a:focus {
  color: coral;
}
.friends img {
  width: 30px;
  border-radius: 25px;
  margin-right: 10px;
}
.dialogs {
  margin: 0 auto;
}